table {
    width: 50%;
    border-color: palevioletred;
    border-style: solid;
    border-width: 1pc;
    padding: 0.1pc;
    background-color: rgb(245, 244, 237);
    color: rgb(10, 9, 7);
}

th {
    border-color: aqua;
    background-color: aqua;
    border-style: solid;
    border-width: 0.5pc;
}