        body {
            background-color: black;
        }
        
        nav {
            background: rgb(100, 209, 228);
            background: -webkit-linear-gradient(-68deg, #34e7db, #8628ad);
            background: -o-linear-gradient(-68deg, #34e7db, #8628ad);
            background: -moz-linear-gradient(-68deg, #34e7db, #8628ad);
            background: linear-gradient(-68deg, #34e7db, #8628ad);
        }
        
        a.navbar-brand {
            color: white;
        }
        
        ul.navbar-nav li.nav-item {
            color: white;
        }
        
        footer {
            color: white;
        }
        
        img {
            width: 100%;
        }
        
        div.introduction {
            margin-top: 0px;
            background-image: url('./Screen Shot 2019-05-22 at 12.32.12 PM.png');
            width: 100%;
            background-repeat: no-repeat;
        }
        
        div.starsign {
            margin-left: 100px;
        }
        
        div.card1 {
            margin-left: 100px;
            width: 250px;
            height: 250px;
        }
        
        div.starttarot {
            margin-top: 50px;
            background-image: url('./Screen Shot 2019-05-22 at 12.32.12 PM.png');
            width: 100%;
            height: 350px;
        }
        
        div.starttarot h.heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 120px;
            color: white;
            text-align: center;
            margin-top: 100px;
        }
        
        div.starttarot p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: white;
            text-align: center;
        }
        
        div.introduction h.heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 120px;
            color: white;
            text-align: center;
            margin-top: 100px;
        }
        
        div.introduction p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: white;
            text-align: center;
        }
        
        div.explanation {
            margin-top: 100px;
            width: 100%;
            height: 250px;
        }
        
        div.explanation p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: grey;
            text-align: center;
        }
        
        #starttarotbutton {
            width: 200px;
            background-color: black;
            color: white;
            border: 2px solid rgb(65, 50, 86);
        }
        
        #starttarotbutton:hover {
            background-color: rgb(65, 50, 86);
            color: white;
        }
        
        div.decision {
            margin-top: 50px;
            background-image: url('./Screen Shot 2019-05-22 at 12.32.12 PM.png');
            width: 100%;
            height: 350px;
        }
        
        div.decision h.heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 120px;
            color: white;
            text-align: center;
            margin-top: 100px;
        }
        
        div.decision p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: white;
            text-align: center;
        }